.profileScreen {
    height: 100vh;
    color: white;
    background-color: #111; /* Fond noir uni */
    
    &__body {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 8%; /* Pour ne pas être caché par la Navbar */
        max-width: 800px;

        /* Version mobile */
        @media screen and (max-width: 768px) {
            width: 90%;
            padding-top: 20%;
        }

        h1 {
            font-size: 60px;
            font-weight: 400;
            border-bottom: 1px solid #282c2d;
            margin-bottom: 20px;
        }
    }

    &__info {
        display: flex;
        
        img {
            height: 100px;
            border-radius: 4px;
        }
    }

    &__details {
        color: white;
        margin-left: 25px;
        flex: 1;

        h2 {
            background-color: gray;
            padding: 15px;
            font-size: 15px;
            padding-left: 20px;
            border-radius: 4px;
        }

        .profileScreen__signOut {
            padding: 10px 20px;
            font-size: 1rem;
            margin-top: 5%;
            width: 100%;
            color: white;
            background-color: #e50914; /* Rouge Netflix */
            font-weight: 600;
            border: none;
            cursor: pointer;
            border-radius: 4px;

            &:hover {
                background-color: #c40812;
            }
        }
        
        /* Faux texte d'abonnement pour décorer */
        h3 {
            border-bottom: 1px solid #282c2d;
            padding-bottom: 10px;
            margin-top: 20px;
            color: #fff;
            font-size: 1.2rem;
        }
    }
}