.loginScreen {
    position: relative;
    height: 100vh;
    /* Image de fond classique de Netflix */
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-49ba-8b1b-eac1f4730101/d618c7ea-56df-46f3-a73e-3652b4741369/US-en-20240129-popsignuptwoweeks-perspective_alpha_website_large.jpg") center no-repeat;
    background-size: cover;

    &__background {
        z-index: 1;
    }

    &__logo {
        position: fixed;
        left: 20px;
        top: 20px;
        width: 150px;
        object-fit: contain;
        z-index: 10;
    }

    &__gradient {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* Assombrit l'image */
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%
        );
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centre parfaitement la div */
        background-color: rgba(0, 0, 0, 0.75); /* Fond noir transparent */
        padding: 60px 68px 40px;
        max-width: 450px;
        width: 100%;
        color: white;
        z-index: 2;
        border-radius: 4px;

        h2 {
            text-align: left;
            margin-bottom: 25px;
            font-size: 2rem;
            font-weight: 600;
        }

        form {
            display: flex;
            flex-direction: column;

            input {
                outline: none;
                height: 50px;
                padding: 5px 20px;
                background-color: #333;
                border-radius: 4px;
                border: none;
                color: white;
                margin-bottom: 16px;
                font-size: 1rem;

                &::placeholder {
                    color: #8c8c8c;
                }
            }

            button {
                padding: 16px 20px;
                font-size: 1rem;
                color: white;
                border-radius: 4px;
                background-color: #e50914; /* Rouge Netflix */
                font-weight: 600;
                border: none;
                cursor: pointer;
                margin-top: 24px;
                transition: background-color 0.2s;

                &:hover {
                    background-color: #c40812;
                }
            }
        }
    }
}