.quickView{
    position: fixed;
    z-index: 999;
    background-color: rgba(17, 17, 17, 0.95);
    border-radius: 10px;
    height: calc(100vh - 60px);
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 2%;
    overflow-y: auto;
    display: none;

    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);

    &.open{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        display: block;
    }
    &_banner{
        padding-top: 50vh;
        height: 50vh;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    &_content{
        padding:2rem 3rem;
        font-size: 1.1rem;
        color: #fff;
        background: linear-gradient(to bottom, transparent, #111 15%);
        margin-top: -100px;
        position: relative;
    }
    &_close{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        background: none;
        color: #fff;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.2s;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
    &_title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    @media  screen and (min-width: 768px) {
        width: 50%;
        left: 25%;
        right: 25%;
        margin: 0 auto;
        box-shadow: 0px 0px 50px rgba(0,0,0,0.7);
    }

}