.video {
    width: 100%;
    height: 100vh; 
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 2000; 

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    &_error {
        color: white;
        text-align: center;
        h3 {
            font-size: 2rem;
        }
    }
}