.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    padding: 12px 4%; 
    font-size: 0.9rem;
    color: #FFF;
    
    background: linear-gradient(to bottom, rgba(74,74,74, 0.6), rgba(0,0,0, 0));
    transition: background-color .3s ease-in-out;
    z-index: 100; 

    a {
        color: #FFF;
        text-decoration: none;
    }

    &--black {
        background-color: #000; 
    }

    &_burger {
        cursor: pointer;
        color: #FFF;
        margin-right: 1rem;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &_logo {
        max-width: 100px;
    }

    &_links {
        margin-left: 20px;
        transition: background-color .3s ease-in-out;

        .nav__link {
            text-decoration: none;
            padding: 5px 10px;
        }

        /* Menu Mobile */
        @media screen and (max-width: 767.98px) {
            margin-left: 0;
            visibility: hidden;
            position: absolute;
            top: 110%;
            right: 0;
            transition: right 0.3s ease-in-out;
            
            .show & {
                display: flex;
                flex-direction: column;
                visibility: visible;
                width: 100%; 
                height: calc(100vh - 60px);
                top: 60px;
                background-color: #000;
            }

            .nav__link {
                font-size: 1.2rem;
                padding: 15px 4%;
            }
        }
    }

    &_actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex:1; 

        .nav_action {
            margin-left: 10px;
            cursor: pointer;
            
            @media screen and (min-width: 768px) {
                margin-left: 20px;
            }
        }
    }
}