body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414; /* Couleur de fond standard Netflix (gris très foncé) */
  color: white;
  overflow-x: hidden; /* Évite le scroll horizontal accidentel */
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
h1, h3, p{
  margin-bottom: 1rem;
  @media screen  and (min-width: 768px){
    margin-bottom: 1.5rem;
                }
}
a{
  text-decoration: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Juste pour simuler du contenu et voir la navbar */
.test {
  width: 100%;
  height: 200vh;
  background: linear-gradient(to bottom, #333, #111);
  padding-top: 100px;
  text-align: center;
}

